.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-field {
  width: 100%;
  margin-bottom: 15px;
}

.table-container {
  position: relative;
  min-height: 100px;
}

mat-spinner {
  margin: 40px auto;
  display: block;
}
.green {
  background-color: #08960d;
  color: white;
}


// FROMATO ARA VENTA 

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.botonadd{
  display: flex;
  margin-left: 86%;
  color: white;
  border-radius: 8px;
  margin-bottom: 1.5rem;

}
.header-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

.filters-container {
 
  display: flex;
  
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  color: white;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.filter-field {
  width: 250px;
}

.table-container {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

.mat-header-cell {
  background-color: #e3f2fd;
  font-weight: bold;
}

.spinner-centered {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.btn-export-csv {
  background-color: #2e7d32; /* Verde Material */
  color: white;
}

.btn-export-pdf {
  background-color: #d32f2f; /* Rojo Material */
  color: white;
}









